@page "/sample"

<PageTitle>Sample</PageTitle>

<h1>Sample</h1>

<p role="status">Total: @total</p>

<div class="form-row">
    <input type="number" class="form-control col-9" @bind="val" />
    <button class="btn btn-primary" @onclick="CalcTotal">Click me</button>
</div>

@code {
    private int total = 0;
    private int val = 0;

    private void CalcTotal()
    {
        total = 0;
        for (int i = 0; i <= val; i++)
        {
            total += i;
        }
    }
}
